img {
  width: 30%;
  height: 20%;
  opacity: 70%;
  border-radius: 12%;
}

.ProfilePage {
  background-image: url(../../assets/icons/background-mood.png);
  width: 100vw;
  height: 100vh;
}
